datasets/
.ipynb_checkpoints
.streamlit
.venv
__pycache__
Aaron/models
Dominik/models/
Dominik/models_copy/
dataset/
dataset/
test_videos/
results/
test_video_results/
rois/
*.mp4
*.MP4

train_videos/

!Aaron/models/MobileNet100k.h5